<!DOCTYPE html>
<html>

<head>
	<title>GitHub Directory</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet" />
</head>

<body>
	<div id="app">
		<header>
			<h1 v-text="heading"></h1>

			<div id="user__search">
				<input type="text" placeholder="Type search text here" />
				<button id="submit__button" v-on:click="handleSearch()">Search</button>
			</div>
		</header>

		<main>
			<div class="user__header">
				<img
					v-bind:src="users.avatar_url"
					v-bind:class="{user__avatar: users.avatar_url}"/>
				<p>{{users.login}}</p>
			</div>

			<ul>
				<li v-for="repo in repos"
					v-on:click="toggleDetails(repo)"
					v-bind:class="[{
						less: repo.showDetail,
						more: !repo.showDetail,
						forks1: repo.forks <= 1,
						forks20: repo.forks <= 20 && repo.forks > 1,
						forksAbove: repo.forks >= 20
					}]"
					class="user">
					<h2>{{repo.name}}</h2>
					<p v-if="repo.description">{{repo.description}}</p>

					<div v-show="repo.showDetail" class="repo__data">
						<p>Forks: {{repo.forks}}</p>
						<img class="repo__stars"
								v-if="repo.stargazers_count"
								src="images/star.png"
								alt="Number of repo stars" />
						<a v-bind:href="repo.svn_url">GitHub Repo</a>
					</div>
				</li>
			</ul>
		</main>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="app.js"></script>
</body>

</html>